@import url('https://fonts.googleapis.com/css?family=Nunito|Quicksand');

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  width: 100%;
  height: 100%;
}

body {
  /* font-family: proxima-nova, sans-serif; */
  font-family: Nunito;
  background-color: #fff;
  color: #0f0e17;
  font-size: 1.5em;
  line-height: 1.5;
  font-weight: 400;
  height: 100%;
  width: 100%;
}

.hide {
  display: none;
}

.square {
  position: absolute;
  border: 2px solid #fb6b6f26;
  width: 100px;
  top: 4rem;
  right: 5rem;
  padding: 50px;
  transform: rotate(45deg);
}

.circle {
  position: absolute;
  border: 2px solid #fb6b6f26;
  width: 100px;
  bottom: -6rem;
  left: -4rem;
  padding: 150px;
  border-radius: 50%;
  transform: rotate(45deg);
}

nav {
  font-family: Quicksand;
  position: absolute;
  top: .8rem;
  right: 1rem;
  font-size: 1.3rem;
  text-align: end;

  ul {
    list-style: none;

    li {
      padding: 5px;
      font-size: 1rem;
      transition: transform 100ms ease-in;
      cursor: pointer;
    }

    .not-active {
      /* color: #d4d4d4; */
      color: #858585;
      ;

      &:hover {
        transform: scale(1.2);
        color: #585858;
      }
    }

    .active {
      color: #0f0e17;
      font-size: 1.2rem;
      cursor: pointer;
    }
  }
}

.icon-mobile {
  position: absolute;
  left: .5rem;
  top: .2rem;
  font-size: 2.4rem;
}


header {
  display: -ms-grid;
  display: grid;
  padding: 20px;
  grid-gap: 30px;

  h1 {
    font-family: quicksand;
    font-size: 1.5em;
  }

  .email {
    position: relative;

    h1 {
      display: none;
      font-size: 1rem;
      text-align: start;
      padding-bottom: 20px;
      font-family: quicksand;
    }
  }

  .right-col {
    display: none;

    img {
      width: 100%;
      max-width: 500px;
      margin: 0 auto;
    }
  }

  .left-col {
    height: 350px;
    position: absolute;
    top: 50%;
    margin-top: -175px;

    p {
      color: #61626d;
      font-size: 1.3rem;
      margin: 15px 0;
    }
  }

  .btn {
    margin-top: 1.5rem;
    background-color: #fb6b6f;
    padding: .9rem 0;
    border-radius: 3px;
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: .9px;
    cursor: pointer;
    width: 100px;
    transition: background-color 100ms ease-in;
    box-sizing: border-box;

    &:hover {
      background-color: #ff4c51;
    }

    a {
      color: #fffffe;
      text-decoration: none;
    }
  }

  .secondary {
    background-color: white;
    border: 2px solid #3f3d56;

    &::hover {
      background-color: #3f3d56;
    }
  }
}



header .secondary:hover a {
  color: white;
}

header .secondary a {
  color: #0f0e17;
}

header .left-col {
  padding: 1rem;
}

/* ======= FOOTER ======= */
footer {
  color: #ffffffd6;
  text-align: center;
  width: 100%;
  position: absolute;
  bottom: 0;
}

/* ====== SOCIALS ====== */
.socials {
  display: inline-flex;
  padding: 10px 20px;
  width: 100%;
  justify-content: flex-end;
}

.social {
  margin: 0 10px;
}

.socials a {
  text-decoration: none;
  color: #0f0e17;
}

.socials i {
  font-size: 1.3rem;
  -webkit-transition: 100ms ease-in-out;
  transition: 100ms ease-in-out;
  cursor: pointer;
  color: #3f3d56;
}

.socials i:hover,
.socials i:active {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  color: #fb6b6f;
}

/* ======= MEDIA QUERY ======= */

@media only screen and (min-width: 900px) {
  header {
    display: grid;
    padding: 4rem;
    grid-gap: 30px;
    position: relative;
    height: 500px;
    grid-template-columns: 1fr 1fr;
    top: 50%;
    max-width: 1200px;
    margin: -250px auto 0 auto;
  }

  header .email {
    position: fixed;
    top: 1rem;
    left: 2rem;
  }

  .right-col {
    order: 2;
  }

  .left-col {
    order: 1;
  }

  footer {
    color: #0f0e17;
    text-align: center;
    position: fixed;
    position: absolute;
    bottom: 0;
    margin: 0 auto;
    width: 100%;
  }

  .socials {
    padding: 10px 0;
    display: inline-flex;
    justify-content: center;
  }
}